
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(25px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes growLeft {
  0% {
    opacity: 0;
    max-width: 0;
  }
  10% {
    opacity: 1;
    max-width: 0;
  }
  100% {
    opacity: 1;
    max-width: 100vw;
  }
}
